*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
.wrapper{
  background: #ffffff;
  width: 100%;
  position: fixed;
  box-shadow: 3px 3px 3px rgba(110, 110, 110,.2);
  
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  display: flex;
  margin-left: 500px;
}
.content .logo a .c4d4_logo{
    width: 170px;
    margin-top: -2px;
}
.content .links li{
  list-style: none;
  line-height: 70px;
}
.content .links li a,
.content .links li label{
  color:#dd9933;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #dd9933;
  color: #ffffff;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #dd9933;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background-color: rgb(253, 253, 253);
  color: #ffffff;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
    z-index: 1;
  }
  nav .content .links{
    margin-left: 180px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
}

@media screen and (max-width: 900px){
  .wrapper{
    background: #ffffff;
    width: 100%;
    position: fixed;
    box-shadow: 3px 3px 3px rgba(110, 110, 110,.2);  
  }

  .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper .menu-icon{
    display: block;
    margin-left: 550px ;
  }

  .content .logo a .c4d4_logo{
    width: 130px;
    margin-top: -2px;
    margin-left: -650px;
}

  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }

  nav .content .links{
    display: block;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 60px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    z-index: 1;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 600px){

  .wrapper{
    background: #ffffff;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(110, 110, 110,.2);
  }

  .wrapper nav {
    height: 60px;
  }

  .wrapper .menu-icon{
    display: block;
    margin-left: 250px ;
  }

  .content .logo a .c4d4_logo{
    width: 120px;
    margin-top: -2px;
    margin-left: -380px;
}

  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }

  nav .content .links{
    display: block;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 60px;
    left: -100%;
    margin-left: 0;
    max-width: 230px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    z-index: 1;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

@media screen and (max-width: 400px){
  .wrapper{
    background: #ffffff;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(110, 110, 110,.2);
  }

  .wrapper nav {
    height: 60px;
  }

  .wrapper .menu-icon{
    display: block;
    margin-left: 200px;
  }

  .content .logo a .c4d4_logo{
    width: 100px;
    margin-top: -2px;
    margin-left: -320px;
}

  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }

  nav .content .links{
    display: block;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 60px;
    left: -100%;
    margin-left: 0;
    max-width: 230px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    z-index: 1;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width: 320px){
  .wrapper{
    background: #ffffff;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(110, 110, 110,.2);
  }

  .wrapper nav {
    height: 60px;
  }

  .wrapper .menu-icon{
    display: block;
    margin-left: 150px;
  }

  .content .logo a .c4d4_logo{
    width: 90px;
    margin-top: -2px;
    margin-left: -270px;
}

  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }

  nav .content .links{
    display: block;
    position: fixed;
    background-color: white;
    height: 100%;
    width: 100%;
    top: 60px;
    left: -100%;
    margin-left: 0;
    max-width: 230px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
    z-index: 1;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}

 
/* css for banner */

  .banner-words > img{
    justify-content: end;
    width: 400px;
  }

  .floatingimage-right {
      float: right;
  }

 /*  banner media query */

 @media screen and (max-width: 1200px){
  .banner-words > img{
    justify-content: end;
    width: 400px;
    z-index: -1;
  }

  .floatingimage-right {
      float: right;
  }
 }

 @media screen and (max-width: 600px){
  .banner-words > img{
    justify-content: end;
    width: 350px;
  }

  .floatingimage-right {
      float: right;
  }
 }

 @media screen and (max-width: 400px){
  .banner-words > img{
    justify-content: end;
    width: 300px;
  }

  .floatingimage-right {
      float: right;
  }
 }

  /* css for content section */

  .about-container {
      width: 96%;
      margin-left: 1.8%;
      padding-top: 150px;
  }

  .about-title {
      margin-bottom: 20px;
  }

  
  .about-para {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 20px;
      text-align: justify;
      color: grey;
  }

  .about-para > ul {
      margin-left: 1.7%;
      margin-top: 12px;
  }

  .themes {
      margin-bottom: 20px;
  }

  .theme-title {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #000000;
  }
  
  .theme-points {
      margin-left: 1.6%;
      margin-top: 20px;
      font-size: 20px;
      line-height: 32px;
  }
  
  .nextarticle-container {
      display: flex;
      justify-content: end;
      margin-top: 20px;
      
  }
 img{
       width: 15vw;
       transition: 1s;
   }

 img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.nextarticle-title {
    margin-right: 50px;
    margin-top: 50px;
}

.nextarticle-container {
    display: flex;
    justify-content: space-between;
}

.nextarticle-container1 {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  
}

.nextarticle-container2 {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    
}

.nextarticle-container2 > .nextarticle-title {
    margin-right: 50px;
    margin-top: 50px;
}

.nextarticle-container1 > .nextarticle-title {
    margin-left: 50px;
    margin-top: 50px;
}

/* content media query */

@media screen and (max-width: 1200px){
  .about-container {
    width: 96%;
    margin-left: 1.8%;
    padding-top: 130px;
}

.about-title {
    margin-bottom: 20px;
}


.about-para {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: justify;
    color: grey;
}

.about-para > ul {
    margin-left: 1.7%;
    margin-top: 12px;
}

.themes {
    margin-bottom: 20px;
}

.theme-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.theme-points {
    margin-left: 1.6%;
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
}

.nextarticle-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    
}
img{
     width: 15vw;
     transition: 1s;
 }

img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nextarticle-title {
  margin-right: 50px;
  margin-top: 50px;
}

.nextarticle-container {
  display: flex;
  justify-content: space-between;
}

.nextarticle-container1 {
display: flex;
justify-content: start;
margin-top: 20px;
margin-left: -20px;
}

.nextarticle-container2 {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  text-align: right;
  
}

.nextarticle-container2 > .nextarticle-title {
  margin-right: 50px;
  margin-top: 50px;
}

.nextarticle-container1 > .nextarticle-title {
  margin-left: 50px;
  margin-top: 50px;
}
}

@media screen and (max-width: 900px){
  .about-container {
    width: 96%;
    margin-left: 1.8%;
    padding-top: 110px;
}

.about-title {
    margin-bottom: 20px;
}


.about-para {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: justify;
    color: grey;
}

.about-para > ul {
    margin-left: 1.7%;
    margin-top: 12px;
}

.themes {
    margin-bottom: 20px;
}

.theme-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.theme-points {
    margin-left: 1.6%;
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
}

.nextarticle-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    
}
img{
     width: 15vw;
     transition: 1s;
 }

img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.nextarticle-title {
  margin-right: 50px;
  margin-top: 50px;
}

.nextarticle-container {
  display: flex;
  justify-content: space-between;
}

.nextarticle-container1 {
display: flex;
justify-content: start;
margin-top: 20px;
margin-left: -20px;
}

.nextarticle-container2 {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  text-align: right;
  
}

.nextarticle-container2 > .nextarticle-title h3{
  margin-right: -50px;
  margin-top: 10px;
  font-size: 14px;
}

.nextarticle-container1 > .nextarticle-title  h3{
  margin-left: -20px;
  margin-top: 10px;
  font-size: 14px;
}
}

@media screen and (max-width: 600px){
  .about-container {
    width: 95%;
    margin-left: 1.8%;
    padding-top: 50px;
}

.about-title {
    margin-bottom: 20px;
}


.about-para {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: justify;
    color: grey;
}

.about-para > ul {
    margin-left: 1.7%;
    margin-top: 12px;
}

.themes {
    margin-bottom: 20px;
}

.theme-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.theme-points {
    margin-left: 1.6%;
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
}

.nextarticle-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    
}
.nextarticle-container .nextarticle-image img{
     width: 20vw;
     transition: 1s;
 }

.nextarticle-title {
  margin-right: 50px;
  margin-top: 50px;
}

.nextarticle-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: -28px;
}

.nextarticle-container1 {
display: flex;
justify-content: start;
margin-left: -20px;
}

.nextarticle-container2 {
  display: flex;
  justify-content: end;
  text-align: right;
  
}

.nextarticle-container2 > .nextarticle-title h3{
  margin-right: -50px;
  margin-top: -10px;
  font-size: 12px;
}

.nextarticle-container1 > .nextarticle-title  h3{
  margin-left: -20px;
  margin-top: -10px;
  font-size: 12px;
}
}

@media screen and (max-width: 400px){
  .about-container {
    width: 95%;
    margin-left: 1.8%;
    padding-top: 50px;
}

.about-title {
    margin-bottom: 20px;
}


.about-para {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: justify;
    color: grey;
}

.about-para > ul {
    margin-left: 1.7%;
    margin-top: 12px;
}

.themes {
    margin-bottom: 20px;
}

.theme-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
}

.theme-points {
    margin-left: 1.6%;
    margin-top: 20px;
    font-size: 20px;
    line-height: 32px;
}

.nextarticle-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    
}
.nextarticle-container .nextarticle-image img{
     width: 16vw;
     transition: 1s;
 }

.nextarticle-title {
  margin-right: 50px;
  margin-top: 50px;
}

.nextarticle-container {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: -25px;
}

.nextarticle-container1 {
display: flex;
justify-content: start;
margin-left: -20px;
}

.nextarticle-container2 {
  display: flex;
  justify-content: end;
  text-align: right;
  
}

.nextarticle-container2 > .nextarticle-title h3{
  margin-right: -60px;
  margin-top: -10px;
  font-size: 12px;
}

.nextarticle-container1 > .nextarticle-title  h3{
  margin-left: -40px;
  margin-top: -10px;
  font-size: 12px;
}
}

  /* organisational section */

  .organisation-section {
    width: 97%;
    margin-left: 1.5%;
    margin-top: 100px;
  }

  .organisation-article-title {
    background-color: #dd9933;
    height: 8px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-bottom: 26px;
    font-weight: 700;
    font-size: 22px;
  }

  .article > p {
    border-bottom: 15px solid #dd9933;
    border-right: 15px solid #ffffff;
    width: 45%; 
 }

  .organisation-fulllogo {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    background-color: rgba(224, 224, 224, 0.2);
  }
 

 img {
    width: 150px;
    margin-left: 40px;
    margin-top: 35px;
  
  }
  .organisation-logo:hover {
    box-shadow: black;
    cursor: pointer;
    background-color: rgba(221, 153, 51, .9); 
  }

  .organisation-logo > h3{
    width: 200px;
    margin-top: 20px;
    margin-left: 38px;

  }

  .orgarticle > p {
    border-bottom: 15px solid #dd9933;
    border-right: 15px solid #ffffff;
    width: 45%; 
 }

   /* organisation media query */

   @media only screen and (max-width: 1250px) {

    .organisation-logo > a > img {
      width: 130px;
      margin-top: 35px;
    }
  
    .organisation-logo > h3{
      width: 150px;
      margin-top: 20px;
      margin-left: 48px;
      margin-bottom: 16px;
    }
  
    .orgarticle > p {
      border-bottom: 17px solid #dd9933;
      border-right: 17px solid #ffffff;
      width: 55%; 
   }
  
   .organisation-article-title {
    background-color: #dd9933;
    height: 8px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-bottom: 36px;
    font-weight: 700;
    font-size: 22px;
    padding-top: 12px;
  }
  
  }
  
  @media only screen and (max-width: 900px) {
  
    .organisation-section {
      width: 97vw;
      margin-left: 1.5%;
      margin-top: 50px;
    }
  
    .organisation-fulllogo {
      display: flex;
      justify-content: space-around;
      margin-top: 3%;
      background-color: rgba(224, 224, 224, 0.2);
      width: 100%;
    }
  
    .organisation-logo > a > img {
      width: 100px;
      margin-top: 35px;
      margin-left: 16px;
    }
  
    .organisation-logo > h3{
      width: 80px;
      margin-top: 10px;
      margin-left: 28px;
      margin-bottom: 16px;
      font-size: 10px;
    }
  
    .organisation-article-title {
      background-color: #dd9933;
      height: 8px;
      margin-bottom: 10px;
      padding-left: 16px;
      padding-bottom: 24px;
      padding-top: 12px;
      font-weight: 700;
      font-size: 16px;
    }
  
    .orgarticle > p {
      border-bottom: 10px solid #dd9933;
      border-right: 10px solid #ffffff;
      width: 45%; 
   }
  }
  
  @media only screen and (max-width: 600px) {

    .organisation-section {
      width: 97vw;
    }

    .slider .organisation-fulllogo {
      display: inline-block;
      gap: 0;
      z-index: -1;
    }
    
    .slider .organisation-logo {
      height: 300px;
    }

    .organisation-fulllogo .organisation-logo  img {
      margin-left: 12%;
      width: 300px;
    }

    .organisation-fulllogo .organisation-logo h3 {
       font-size: 16px;
       margin-left: 32%;
       width: 120px;
    }

    .organisation-logo:hover {
      box-shadow: black;
      cursor: pointer;
      background-color: inherit;
    }

    .organisation-article-title {
      background-color: #dd9933;
      height: 8px;
      margin-bottom: 20px;
      padding-left: 16px;
      padding-bottom: 44px;
      font-weight: 700;
      font-size: 16px;
    }
  
  }

  @media only screen and (max-width: 400px) { 

    .organisation-section {
      width: 97vw;
    }

    /* @keyframes scroll {
      0%,100%{
        transform: translateX(0);
      }
      100%{
        transform: translateX(calc(-250px * 3.4));
      }
    }

    .slider {
      height: 110px;
      width: auto;
      overflow: hidden;
      position: relative;
      z-index: -1;
    } */

    .slider .organisation-fulllogo {
      /* animation: scroll 25s linear infinite; */
      display: inline-block;
      gap: 0;
      /* width: calc(250px * 5); */
      z-index: -1;
     }
    
    .slider .organisation-logo {
      height: 250px;
    }

    .organisation-fulllogo .organisation-logo  img {
      margin-left: 13%;
      width: 250px;
    }

    .organisation-fulllogo .organisation-logo h3 {
      font-size: 16px;
      margin-left: 33%;
      width: 120px;
    }

    .organisation-logo:hover {
      box-shadow: black;
      cursor: pointer;
      background-color: inherit;
    }

    .organisation-article-title {
      background-color: #dd9933;
      height: 8px;
      margin-bottom: 20px;
      padding-left: 16px;
      padding-bottom: 36px;
      font-weight: 700;
      font-size: 14px;
    }
  
  }

  /* css for footer */

  .footer-section {
    background-color: black;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
  }

  .copyrights {
    color: white;
    margin-left: 20%;

  }

  .leftfollow {
    margin-top: -50px;
  }

  .followlogo {
    width: 300px
  }

  .follow-us-title {
    color: white;
    font-size: 32px;
    margin-left: 25%;
  }

  .follow-us {
    margin-left: 0%;
  }

  .follow-us-icon {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 15px;
  }

  .sm-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

      /* footer media query */

      @media only screen and (max-width: 1200px) {
        .footer-section {
          background-color: black;
          margin-top: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          display: flex;
          justify-content: space-evenly;
        }
    
        .leftfollow {
          margin-top: -15px;
          width: 35%;
        } 
    
        .followlogo {
          width: 230px
        }
    
        .follow-us {
          margin-top: 2%;
          width: 25%;
        }
    
        .follow-us-title {
          color: white;
          font-size: 24px;
          margin-left: 23%;
          margin-top: -5%;
        }
        .follow-us-icon {
          display: flex;
          justify-content: space-around;
          margin-top: -8px;
          gap: 0px;
        }
      
        .sm-icon {
          width: 40px;
          height: 40px;
          margin-top: 30px;
        }
    
        .copyrights {
          color: white;
          font-size: 12px;
          margin-left: 40px;
        }
      }
    
    
       @media only screen and (max-width: 900px) {
        .footer-section {
          background-color: black;
          margin-top: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          display: flex;
          justify-content: space-evenly;
        }
    
        .leftfollow {
          margin-top: -15px;
          width: 35%;
        } 
    
        .followlogo {
          width: 230px
        }
    
        .follow-us {
          margin-top: 2%;
          width: 25%;
        }
    
        .follow-us-title {
          color: white;
          font-size: 24px;
          margin-left: 17%;
          margin-top: -5%;
        }
        .follow-us-icon {
          display: flex;
          justify-content: space-around;
          margin-top: -8px;
          gap: 0px;
        }
      
        .sm-icon {
          width: 35px;
          height: 35px;
          margin-top: 30px;
        }
    
        .copyrights {
          color: white;
          font-size: 12px;
          margin-left: 40px;
        }
      }
    
      @media  only screen and (max-width: 600px) {
        .footer-section {
          width: 100%;
          background-color: black;
          margin-top: 30px;
          padding-top: 50px;
          padding-bottom: 50px;
          display: inline-block;
          height: 35vh;
        }
    
        .leftfollow {
          margin-top:  30px;
          width: 100%;
        } 
        
        .followlogo {
          width: 150px;
          margin-left: 30%;
        }
    
        .copyrights {
          color: white;
          margin-left: 30%;
        }
    
        
      .follow-us-title {
        color: white;
        font-size: 20px;
        margin-left: 36%;
      }
    
      .follow-us {
        margin-top: -180px;
        width: 100%;
      }
    
      .follow-us-icon {
        display: flex;
        margin-top: -8px;
        margin-left: -20px;
      }
    
      .sm-icon {
        width: 35px;
        height: 35px;
      }
      }
    
      @media  only screen and (max-width: 400px) {
        .footer-section {
          width: 100%;
          background-color: black;
          margin-top: 30px;
          padding-top: 50px;
          padding-bottom: 50px;
          display: inline-block;
          height: 35vh;
        }
    
        .leftfollow {
          margin-top:  40px;
          width: 100%;
        } 
        
        .followlogo {
          width: 150px;
          margin-left: 30%;
        }
    
        .copyrights {
          color: white;
          margin-left: 30%;
        }
    
        
      .follow-us-title {
        color: white;
        font-size: 20px;
        margin-left: 36%;
      }
    
      .follow-us {
        margin-top: -185px;
      }
    
      .follow-us-icon {
        display: flex;
        margin-top: -8px;
        margin-left: -20px;
      }
    
      .sm-icon {
        width: 35px;
        height: 35px;
      }
      }
    
      @media  only screen and (max-width: 320px) {
        .footer-section {
          width: 100%;
          background-color: black;
          margin-top: 30px;
          padding-top: 50px;
          padding-bottom: 50px;
          display: inline-block;
          height: 40vh;
        }
    
        .leftfollow {
          margin-top:  50px;
        } 
        
        .followlogo {
          width: 150px;
          margin-left: 25%;
        }
    
        .copyrights {
          color: white;
          margin-left: 25%;
        }
    
        
      .follow-us-title {
        color: white;
        font-size: 20px;
        margin-left: 33%;
      }
    
      .follow-us {
        margin-top: -185px;
      }
    
      .follow-us-icon {
        display: flex;
        margin-top: -8px;
        margin-left: -20px;
      }
    
      .sm-icon {
        width: 35px;
        height: 35px;
      }
      }
  
/* =======================
     Goto-top
   =======================
*/

.goto-top {
  position: fixed;
  bottom: 10%;
  padding: 15px;
  border-radius: 4px;
  margin-left: 95%;
  background-color: #dd9933;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(110, 110, 110);
}

.goto-top .material-icons {
  color: #ffffff;
}

.goto-top.show {
  display: block;
}

@media only screen and (max-width: 1200px) {
  .goto-top {
    position: fixed;
    bottom: 10%;
    padding: 5px;
    border-radius: 4px;
    margin-left: 94%;
    background-color: #dd9933;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(110, 110, 110);
  }
}